<div id="<%= dom_id event_condition %>">
  <p>
    <strong>Sensor:</strong>
    <%= event_condition.sensor_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_condition.event_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event_condition.state %>
  </p>

  <p>
    <strong>Trigger:</strong>
    <%= event_condition.trigger %>
  </p>

</div>
