<h2>
  <%= @building.name %>
  <%= link_to edit_building_path(@building) do %>
    <i class="tiny material-icons">edit</i>
  <% end %>
</h2>

<ul class="collection">
  <% @sensors.each do |sensor| %>
    <li
        id="sensor-<%= sensor.id%>"
        class="collection-item <% if sensor.state  %>teal<% else %>red<% end %>" >
      <%= link_to sensor.name, sensor_path(sensor) %>
    </li>
  <% end %>
</ul>

<div class="right-align">
  <%= link_to new_building_emitter_path(@building), class: "btn-floating waves-effect waves-light" do %>
  <i class="material-icons">add</i>
<% end %>
