<%= form_with(model: [building, emitter]) do |form| %>
  <% if emitter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(emitter.errors.count, "error") %> prohibited this emitter from being saved:</h2>

      <ul>
        <% emitter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :building_id, style: "display: block" %>
    <%= form.collection_select :building_id, current_user.buildings, :id, :name %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn" %>
  </div>
<% end %>
