<h1>Sensors</h1>

<ul class="collection">
  <% @sensors.each do |sensor| %>
    <li
        id="sensor-<%= sensor.id%>"
        class="collection-item <% if sensor.state  %>teal<% else %>red<% end %> lighten-4" >
        <div class="left">
        <%= link_to sensor.name, sensor_path(sensor) %>
        </div>
        <div class="switch right-align">
          <label>
            Off
            <input
                id="sensor-checkbox-<%= sensor.id %>"
                data-sensor-id="<%= sensor.id %>"
                data-sensor-state="<%= sensor.state %>"
                class="switcher"
                type="checkbox"
                <% if sensor.state %>checked <%end%>
            >
            <span class="lever"></span>
            On
          </label>
        </div>
    </li>
  <% end %>
</ul>
<div class="right-align">
  <%= link_to new_sensor_path, class: "btn-floating waves-effect waves-light" do %>
  <i class="material-icons">add</i>
<% end %>
</div>
