<h2>
  <%= @sensor.name %>
  <%= link_to edit_sensor_path(@sensor) do %>
    <i class="tiny material-icons">edit</i>
  <% end %>
</h2>

<button
  id="state-button"
  class="btn"
  data-sensor-id="<%= @sensor.id %>"
  data-new-state="<%= !@sensor.state%>"
  >
  <%= !@sensor.state%>
</button>
<div id="sensor-<%= @sensor.id%>">
  <p>
    <strong>Mac:</strong>
    <%= @sensor.mac %>
  </p>
  <p>
    <strong>State:</strong>
    <%= @sensor.state %>
  </p>
</div>
<div id="root"></div>

