<h2>
  <%= @sensor.name %>
  <%= link_to edit_sensor_path(@sensor) do %>
    <i class="tiny material-icons">edit</i>
  <% end %>
</h2>

<div class="switch">
  <label>
    Off
    <input
        id="sensor-checkbox-<%= @sensor.id %>"
        data-sensor-id="<%= @sensor.id %>"
        data-sensor-state="<%= @sensor.state %>"
        class="switcher"
        type="checkbox"
        <% if @sensor.state %>checked <%end%>
        >
        <span class="lever"></span>
        On
  </label>
</div>
