<%= form_with(model: [:admin, @building], html: {class: "form"}) do |f| %>
  <div class="row">
    <div class="col s12 input-field">
      <%= f.label :name %>
      <%= f.text_field :name, id: :building_name %>
    </div>
    <div class="col s12 input-field">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, User.all, :id, :email, prompt: "Seleccione un usuario" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= f.submit class: "btn" %>
    </div>
  </div>
<% end %>

