<div class="row">
  <div class="col s12">
    <h3>Edificios</h3>
    <%= link_to 'Nuevo edificio', new_admin_building_path, class: 'btn btn-small' %>
    <table class="striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Propietario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @buildings.each do |building| %>
          <tr>
            <td><%= building.name %></td>
            <td><%= building.user.email %></td>
            <td>
              <%= link_to 'Ver', admin_building_path(building), class: 'btn btn-small' %>
              <%= link_to 'Editar', edit_admin_building_path(building), class: 'btn btn-small' %>
              <%= link_to 'Eliminar', admin_building_path(building), method: :delete, data: { confirm: '¿Estás seguro de que quieres eliminar este edificio?' }, class: 'btn btn-small red darken-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

