<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>AlarmX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.2/dist/js/materialize.min.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body class="<%= controller_name %>">
    <!-- <p style="color: green"><%= notice %></p> -->

    <% if current_user %>

      <nav>
        <div class="nav-wrapper blue">
          <ul class="right">
            <li>
              <%= link_to sensors_path do %>
                <i class="material-icons">wifi_tethering</i>
              <% end %>
            </li>
            <li>
              <%= link_to events_path do %>
                <i class="material-icons">location_on</i>
              <% end %>
            </li>
            <li>
              <%= link_to setting_path do %>
                <i class="material-icons">manage_accounts</i>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

    <% else %>

    <% end %>

    <div class="container">
    <%= yield %>
      <%# <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </body>
</html>
