<!DOCTYPE html>
<html>
  <head>
     <meta charset="UTF-8">
    <title>AlarmX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= controller_name %>">
    <p style="color: green"><%= notice %></p>

    <%= yield %>
    <% if current_user %>
    <nav class="menu">
      <ol>
        <li>
          <%= link_to "", buildings_path, class: "menu-item menu-item-building" %>
        </li>
        <li>
          <%= link_to "", "#", class: "menu-item menu-item-user" %>
        </li>
        <li>
          <%= link_to "", "#", class: "menu-item menu-item-notifications" %>
        </li>
      </ol>
    </nav>
  <% end %>
  </body>
</html>
